%h1.text-center Tracks
- @selected_tags.each do |selected_tag|
  = link_to "#{selected_tag.name} x", tracks_path(selected_tags: (@selected_tags.pluck(:id) - [selected_tag.id]).join(',')), class: 'badge badge-secondary'
.row
  .col-sm-3
    %p.font-weight-bold Title
  .col-sm-6
    %p.font-weight-bold Preview
  .col-sm-3
    %p.font-weight-bold Tags
- @tracks.each do |track|
  .row
    .col-sm-3
      %p= track.title
    .col-sm-6
      %iframe{style: "border: 0; width: 100%; height: 42px;", src: "https://bandcamp.com/EmbeddedPlayer/album=2944136907/size=small/bgcol=ffffff/linkcol=0687f5/track=#{track.bandcamp_track_id}/transparent=true/", seamless: true}
        = link_to track.title, 'http://dannysullivan.bandcamp.com/album/soundtracks-2'
    .col-sm-3
      - track.tags.each do |track_tag|
        = link_to track_tag.name, tracks_path(selected_tags: (@selected_tags.pluck(:id) + [track_tag.id]).uniq.join(',')), class: 'badge badge-secondary'
  %hr
