%h1.text-center Portfolio
%br
%br
.row
  .col-sm-2
  .col-sm-8
    .row
      .col-sm-8
        %h3 Soundtrack Composer
        %br
        %p
          = link_to 'Headlong: Surviving Y2K', 'https://www.stitcher.com/podcast/missing-richard-simmons'
          \ -
          %span Podcast - Additional Music

        %p
          = link_to 'Lesbehonest', 'https://www.lesbehonestfilm.com/the-pilot'
          \ -
          %span Pilot/Short Film - Original Songs

        %p
          = link_to 'The Tenant', 'https://www.imdb.com/title/tt7296634/'
          \ -
          %span Feature Film - Score Composer

        %p
          = link_to 'Night for Day', 'https://www.imdb.com/title/tt3718372/'
          \ -
          %span Short Film - Score Composer

        %p
          = link_to 'You Deserve Better', 'https://vimeo.com/78781129'
          \ -
          %span Short Film - Score Composer/Original Song
      .col-sm-4
        %br
        = image_tag 'surviving-y2k.jpg'

    %br
    %br
    %br
    .row
      .col-sm-4
        %br
        = image_tag 'sunburn.png'
      .col-sm-1
      .col-sm-7
        %h3.text-right Producer/Songwriter
        %br
        %p
          = link_to 'Sunburn - Tallbird', 'https://tallbird.bandcamp.com/album/sunburn'
          \ -
          %span Producer, songwriter, performer

        %p
          = link_to 'Early Birds - Tallbird', 'https://tallbird.bandcamp.com/album/early-birds'
          \ -
          %span Producer, songwriter, engineer, performer

        %p
          = link_to 'Young People - Ovid American', 'https://ovidamerican.bandcamp.com/album/young-people'
          \ -
          %span Producer, songwriter, engineer, performer

    %br
    %br
    %br
    .row
      .col-sm-8
        %h4 Other Production Work
        %br
        %p
          = link_to 'Eli Bloody Eli - Eli Sundae', 'https://elisundae.bandcamp.com/album/eli-bloody-eli'
          \ -
          %span Producer, engineer

        %p
          = link_to 'Betcherino - Eli Sundae', 'https://elisundae.bandcamp.com/album/betcherino'
          \ -
          %span Producer, engineer
      .col-sm-4
        %br
        = image_tag 'eli.jpg'
